:root{
    /*     colors       */
    --background-color: rgb(19, 6, 23);
    --text-color: rgb(221, 221, 221);
    --grey-text-color: rgb(175, 175, 175);
    --link-color: rgb(58, 115, 181);
    --border-color: rgb(8,145,178);
    --grey-outline: rgba(108, 108, 108, 0.5);
    --editor-accent:  #90caf9;

    /*    sizes     */
    --very-small-font-size: 12px;
    --small-font-size: 15px;
    --medium-font-size: 20px;
    --large-font-size: 25px;
    --extra-large-font-size: 35px;
    --extra-x-large-font-size: 45px;
}