@import '../var.css';

.contact{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact h1{
    color: var(--text-color);
    font-size: var(--extra-large-font-size);
    margin: 50px 0px 0px 50px;
    padding-left: 20px;
    border-left: 10px solid var(--red-accent);
}

.contact p{
    color: var(--grey-text-color);
    transform: translate(500%);
    margin-top: 90px;
}

.formWrapper{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.formBox{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgba(58, 115, 181,0.5);
    border-radius: 15px;
    box-shadow: 1px 1px 100px 1px rgba(58, 115, 181,0.5);
    width: 600px;
}

.formBox h2{
    font-size: var(--large-font-size);
    margin: 20px 0px 20px 20px;
    color: var(text-color);
}

.formfield{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.formfield label{
    color: var(--grey-text-color);
    font-weight: 500;
}

.formfield input{
    background-color: transparent;
    border: 1px solid rgba(8,145,178,0.4);
    border-radius: 15px;
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    color: var(--text-color);
    font-weight: 500;
    padding: 5px 20px;
}

.formfield textarea{
    background-color: transparent;
    border: 1px solid rgba(8,145,178,0.4);
    border-radius: 15px;
    min-height: 100px;
    width: 100%;
    margin-bottom: 20px;
    color: var(--text-color);
    font-weight: 500;
    padding: 5px 20px;
}

.formfield button{
    background-color: rgba(8,145,178,0.3);
    color: var(--text-color);
    font-weight: 500;
    border: 1px solid rgba(8,145,178,0.4);
    border-radius: 15px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-left: 15vw;
}

@media only screen and (max-width:470px) {
    
    .contact h1{
        font-size: var(--large-font-size);
        margin: 20px;
        padding-left: 10px;
    }
    
    .contact p{
        color: var(--grey-text-color);
        transform: translate(110px);
    }
    
    .formWrapper{
        margin-top: 50px;
    }
    
    .formBox{
        width: 90%;
    }
    
    .formBox h2{
        font-size: var(--medium-font-size);
        margin: 20px 0px 20px 20px;
    }
    
    .formfield label{
        font-size: var(--small-font-size);
    }
    .formfield button{
        font-size: var(--very-small-font-size);
        transform: translate(40px);
    }
}