@import '../var.css';

.signup{
    background-color: var(--background-color);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.SUwelcmgreet{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SUwelcmgreet h1{
    color: var(--text-color);
    font-size: var(--extra-large-font-size);
    font-weight: 500;
}

.SUwelcmgreet strong{
    color: var(--red-accent);
}

.SUwelcmgreet h2{
    color: var(--grey-text-color);
    font-size: var(--large-font-size);
    font-weight: 500;
    margin-top: 5px;
}

.SUWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    border: 1px solid var(--blue-border);
    border-radius: 15px;
    padding: 20px;
    row-gap: 40px;
}

.SUtextrow{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.SUtextrow h2{ 
    color: var(--text-color);
    font-size: var(--medium-font-size);
    font-weight: 600;
}

.SUformwrap{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    row-gap: 5px;
}

.SUformwrap label{
    color: var(--grey-text-color);
    font-weight: 500;
}

.SUformwrap input{
    background-color: transparent;
    border: 1px solid rgba(8,145,178,0.4);
    border-radius: 15px;
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    color: var(--text-color);
    font-weight: 500;
    padding: 5px 20px;
}

.SUformwrap button{
    background-color: rgba(8,145,178,0.3);
    color: var(--text-color);
    font-weight: 500;
    border: 1px solid rgba(8,145,178,0.4);
    border-radius: 15px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transform: translate(90px);
}

.SUusertosignin p{
    color: var(--grey-text-color);
    font-weight: 500;
}

.SUusertosignin a{
    text-decoration: none;
    color: var(--link-color);
}

@media only screen and (max-width: 470px) {
    
    .SUwelcmgreet h1{
        font-size: var(--large-font-size);
    }
    
    .SUwelcmgreet h2{
        font-size: var(--medium-font-size);
    }
    
    .SUWrapper{
        width: 90%;
    }
    
    .SUtextrow h2{ 
        font-size: var(--small-font-size);
    }
    
    .SUformwrap label{  
        font-size: var(--small-font-size);
    }
    .SUformwrap button{
        font-size: var(--very-small-font-size);
        transform: translate(60px);
    }
    
    .SUusertosignin p{
        font-size: var(--small-font-size);
    }
}